@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@font-face {
    font-family: Horta;
    src: url(fonts/horta.otf);
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(fonts/JetBrainsMono-Regular.woff2);
}

.horta {
    font-family: 'Horta', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}